# Data
data/*
!data/sample/
!data/features/
!data/.gitkeep

# Models & Checkpoints
models/
*.pkl
*.pt
*.pth
*.h5
*.keras
*.ipynb_checkpoints

# Python & Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.env
.venv
venv/
ENV/
env.bak/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store
